body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(PC-10.png) no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(94, 103, 228, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    color: #0c2b91;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    margin-left: 80%;
    left: 10px;
    top: 10px;
}

.input-group input {
    width: 85%;
    padding: 10px 10px 10px 30px;
    font-size: 16spx;
    border-radius: 20px;
    border: none;
    background-color: rgba(189, 227, 230, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(179, 223, 231);
    color: rgba(64, 142, 173, 0.685);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.extra-options label {
    cursor: pointer;
}

.extra-options a {
    color: #007BFF;
    text-decoration: none;
}

.extra-options a:hover {
    text-decoration: underline;
}
